@import "vars";
@import "libs";
@import "reset";
@import "global";

.header {
  position: relative;
  z-index: 100;
  &__inner {
    background: $white;
    border-radius: 0px 0px 35px 35px;
  }
  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
  }
  &__social {
    display: flex;
    align-items: center;
    gap: 50px;
  }
  &__social-box {
    display: flex;
    gap: 15px;
  }
  &__social-link {
    display: flex;
    align-items: center;
    gap: 12px;
    font-weight: 500;
    font-size: 15px;
    line-height: 100%;
    path {
      transition: 0.3s ease;
    }
    rect {
      transition: 0.3s ease;
    }
    &:hover {
      path {
        fill: $red;
      }
      rect {
        stroke: $red;
      }
    }
  }
  &__content {
    border-top: 1px solid $border;
    padding: 20px 0;
  }
  &__hamburger {
    display: none;
  }
}
.header__social-link--mob {
  display: none;
}

.logo {
  &__link {
  }
  &__img {
  }
}

.menu {
  display: flex;
  justify-content: space-between;
  &__list {
    display: flex;
    gap: 30px;
    align-items: center;
    &:last-child {
      .header__social-box {
        display: none;
      }
    }
  }
  &__list-item {
    font-size: 15px;
    line-height: 100%;
    text-transform: uppercase;
    transition: 0.3s ease;
    &:hover {
      color: $red;
    }
  }
  &__list-dropdown {
    position: relative;
    padding-right: 14px;
    &::after {
      position: absolute;
      right: 0;
      top: 5px;
      content: "";
      background-image: url(../images/icon/arrow-down.svg);
      width: 10px;
      height: 5px;
      transition: 0.5s ease;
    }
    &:hover .menu__dropdown-content,
    &:focus .menu__dropdown-content,
    &:focus-within .menu__dropdown-content {
      max-height: 200px;
    }
    &:hover {
      &::after {
        background-image: url(../images/icon/arr-down--red.svg);
        transform: rotate(180deg);
      }
    }
  }
  &__list-link {
  }
  &__dropdown-content {
    min-width: fit-content;
    overflow: hidden;
    max-height: 0;
    transition: 0.5s ease;
    position: absolute;
    margin-top: 10px;
    background-color: $white;
    border-radius: 10px;
    color: $dark;
  }
  &__dropdown-item {
    white-space: nowrap;
  }
  &__dropdown-link {
    padding: 10px 7px;
    transition: 0.3s ease;
    font-size: 15px;
  }
  &__dropdown-item:hover,
  &__dropdown-item:focus-within > a {
    cursor: pointer;
    color: $red;
  }
}

.footer {
  &__inner {
    background-color: $white;
    padding: 50px 80px 20px;
    border-radius: 35px 35px 0px 0px;
  }
  &__top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  &__box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 184px;
    width: 100%;
  }
  &__list {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  &__item {
    text-transform: uppercase;
    font-size: 15px;
    line-height: 100%;
  }
  &__link {
    transition: 0.3s ease;
    &:hover {
      color: $red;
    }
  }
  &__social {
    max-width: 235px;
    width: 100%;
    .logo {
      display: none;
    }
  }
  &__social-text {
    margin-bottom: 10px;
  }
  &__social-box {
    display: flex;
    gap: 10px;
  }
  &__social-link {
    path {
      transition: 0.3s ease;
    }
    rect {
      transition: 0.3s ease;
    }
    &:hover {
      path {
        fill: $red;
      }
      rect {
        stroke: $red;
      }
    }
  }
  &__info {
    max-width: 355px;
    width: 100%;
    .footer__social-text,
    .footer__social-box {
      display: none;
    }
  }
  &__info-text {
  }
  &__btn {
    margin-top: 15px;
    margin-bottom: 67px;
    width: 100%;
  }
  &__brands {
    display: flex;
    gap: 40px;
    align-items: center;
  }
  &__brands-img {
  }
  &__copy {
    padding-top: 15px;
    border-top: 1px solid $border;
  }
  &__copy-text {
    color: $border;
    font-size: 15px;
    line-height: 140%;
  }
  &__copy-brands {
    display: none;
  }
}

.top {
  overflow: hidden;
  padding: 65px 0 290px;
  &__inner {
  }
  &__box {
    display: flex;
    justify-content: space-between;
    align-items: end;
    margin-bottom: 30px;
  }
  &__title {
    font-weight: 700;
    font-size: 81px;
    line-height: 110%;
    max-width: 754px;
    img {
      display: inline-block;
      padding-right: 50px;
    }
    span {
      color: $red;
    }
  }
  &__text {
    font-weight: 500;
    font-size: 25px;
    line-height: 135%;
    max-width: 470px;
    span {
      color: $red;
    }
  }
  &__slider {
    position: relative;
  }
  &__slider-img {
    border-radius: 30px;
  }
  &__info {
    position: absolute;
    bottom: -140px;
    left: 18px;
    z-index: 5;
    background-color: $white;
    border-radius: 30px;
    max-width: 500px;
    width: 100%;
    box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.1);
    overflow: hidden;
  }
  &__info-title {
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 600;
    font-size: 40px;
    line-height: 110%;
    margin-bottom: 12px;
  }
  &__info-text {
    font-size: 19px;
    line-height: 140%;
    max-width: 439px;
    margin-bottom: 25px;
    min-height: 81px;
  }
  &__info-text--limited {
    max-width: 328px;
  }
  &__info-box {
    display: flex;
    align-items: flex-end;

    width: 100%;
    justify-content: space-between;
  }
  &__slider-buttons {
    display: flex;
    gap: 10px;
    align-items: center;
  }
  &__info-button {
    width: 100%;
    max-width: 270px;
  }
  &__info-btn {
    width: 100%;
  }
  &__slider-controls {
    position: absolute;
    right: 25px;
    bottom: 25px;
    z-index: 5;
  }
  &__slider-pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    margin-bottom: 5px;
  }
  .swiper-pagination-current {
    color: $red;
  }
  &__slider-prev {
    cursor: pointer;
  }
  &__slider-next {
    cursor: pointer;
  }
  &__info-slider {
    overflow: hidden;
    .swiper-slide {
      opacity: 0 !important;
    }
    .swiper-slide-active {
      opacity: 1 !important;
    }
  }
  &__info-wrapper {
  }
  &__info-item {
    padding: 40px 25px 25px;
    max-width: 440px;
  }
}

.announcements {
  padding-bottom: 150px;
  &__inner {
  }
  &__box {
    display: flex;
    align-items: end;
    justify-content: space-between;
    margin-bottom: 40px;
  }
  &__title {
    max-width: 470px;
  }
  &__text {
  }
  &__slider {
    overflow: hidden;
    padding-bottom: 80px;
  }
  &__items {
    display: flex;
    gap: 22px;
    width: 100%;
    justify-content: space-between;
  }
  &__item {
    display: flex;
    align-items: center;
    width: 98%;
    box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
    background-color: $white;
    padding: 10px;
    cursor: grab;
  }
  &__item--nonimage {
    max-width: 468px;
    justify-content: center;
  }
  &__item-image {
    flex-basis: 50%;
  }
  &__item-img {
  }
  &__item-box {
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    text-align: center;
    width: 100%;
    min-height: 206px;
  }
  &__item-box--centered {
    justify-content: center;
  }
  &__item-available {
    margin-bottom: 47px;
    font-size: 15px;
    line-height: 100%;
    position: relative;
    padding-left: 25px;
    &::before {
      content: "";
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 0;
      width: 15px;
      height: 15px;
      background-color: $green;
      border-radius: 50%;
    }
  }
  &__item--reverse {
    justify-content: space-between;
    .announcements__item-image {
      flex-basis: 45%;
      order: 1;
    }
    .announcements__item-title {
      max-width: 646px;
    }
  }
  &__item-title {
    font-weight: 600;
    font-size: 40px;
    line-height: 110%;
    margin-bottom: 12px;
  }
  &__item-text {
    font-size: 19px;
    line-height: 140%;
    margin-bottom: 27px;
  }
  &__item-author {
    text-transform: uppercase;
    font-size: 15px;
    line-height: 100%;
    span {
      display: block;
      color: $border;
      margin-bottom: 5px;
    }
  }
  &__slider-pagination {
    text-align: center;
    margin-top: 32px;
    .swiper-pagination-bullet {
      width: 26px;
      height: 26px;
      border-radius: 50%;
      background-color: transparent;
      border: 1px solid $dark;
      opacity: 1;
    }
    .swiper-pagination-bullet-active {
      position: relative;
      &::after {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 17px;
        height: 17px;
        border-radius: 50%;
        background-color: $dark;
      }
    }
  }
  &__cards {
    display: flex;
    gap: 22px;
    flex-wrap: wrap;
    margin-bottom: 22px;
  }
  &__card {
    box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
    padding: 40px 30px;
    max-width: 708px;
    width: 100%;
    display: flex;
    height: 390px;
  }
  &__card--withimg {
    max-width: 950px;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
    .announcements__card-text {
      max-width: 395px;
    }
    .announcements__card-box {
      padding-left: 30px;
    }
  }
  &__card--mini {
    max-width: 466px;
    .announcements__card-text {
      min-height: 0;
      margin-bottom: 18px;
    }
  }
  &__card-box {
  }
  &__card-available {
    position: relative;
    font-size: 15px;
    line-height: 100%;
    padding-left: 25px;
    margin-bottom: 20px;
    &::before {
      content: "";
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 0;
      width: 15px;
      height: 15px;
      background-color: $green;
      border-radius: 50%;
    }
  }
  &__card-title {
    font-weight: 600;
    font-size: 40px;
    line-height: 110%;
    margin-bottom: 12px;
  }
  &__card-text {
    max-width: 580px;
    margin-bottom: 37px;
    min-height: 135px;
  }
  &__card-btn {
    border: 1px solid $dark;
    border-radius: 35px;
    max-width: 177px;
    width: 100%;
    padding: 12px 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    transition: 0.3s ease;
    background: transparent;
    &:hover {
      background: $dark;
      color: $white;
    }
  }
  &__notes {
    min-height: 715px;
    padding: 30px;
    border-radius: 30px;
    position: relative;
    background-size: cover;
    background-position: center;
  }
  &__notes-img--mob {
    display: none;
  }
  &__notes-title {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 30px;
    font-weight: 700;
    font-size: 54px;
    line-height: 110%;
    color: $red;
  }
  &__notes-box {
    position: absolute;
    left: 30px;
    bottom: 30px;
    background: rgba($white, 0.3);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7px);
    border-radius: 35px;
    display: flex;
    justify-content: space-between;
    gap: 22px;
    max-width: 1016px;
    padding: 34px 30px;
  }
  &__notes-text {
    max-width: 460px;
    span {
      color: $red;
    }
  }
}

.map {
  padding-bottom: 150px;
  &__box {
    display: flex;
    justify-content: space-between;
    align-items: end;
    margin-bottom: 50px;
  }
  &__title {
    max-width: 550px;
  }
  &__toggle {
    display: flex;
    align-items: center;
    gap: 8px;
  }
  &__toggle-switch {
    display: inline-block;
    height: 38px;
    position: relative;
    width: 75px;
  }
  &__toggle-input {
    display: none;
    &:checked + .map__toggle-slider {
      border-color: $green;
    }
    &:checked + .map__toggle-slider::before {
      transform: translateX(32px);
      background-color: $green;
    }
  }
  &__toggle-slider {
    border: 1px solid $border;
    background-color: $white;
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: 0.4s;
    &::before {
      background-color: $border;
      bottom: 2px;
      content: "";
      height: 32px;
      left: 4px;
      position: absolute;
      transition: 0.3s ease;
      width: 32px;
    }
  }
  &__toggle-round.map__toggle-round {
    border-radius: 34px;
    &::before {
      border-radius: 50%;
    }
  }
  &__toggle-text {
    color: $border;
    font-weight: 500;
    font-size: 25px;
    line-height: 135%;
    transition: 0.3s ease;
    cursor: pointer;
    &.checked {
      color: $green;
    }
  }
  &__inner {
    display: flex;
    height: 635px;
    justify-content: space-between;
  }
  &__items {
    max-width: 500px;
    width: 100%;
    margin-right: 36px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 18px;
    position: relative;
    padding-left: 15px;
    padding-bottom: 20px;
    // &::before {
    //   content: "";
    //   position: absolute;
    //   bottom: 0;
    //   left: 0;
    //   width: 100%;
    //   height: 17%;
    //   background: linear-gradient(
    //     360deg,
    //     #ffffff -52.17%,
    //     rgba(255, 255, 255, 0) 198%
    //   );
    // }
    // overflow: hidden;

    overflow-y: scroll;
    direction: rtl;

    &::-webkit-scrollbar {
      width: 5px;
      background-color: $light-grey;
    }
    &::-webkit-scrollbar-thumb {
      background-color: $border;
      border-radius: 5px;
    }
  }
  &__content {
    width: 100%;
  }
  &__iframe {
    width: 100%;
    height: 100%;
    border-radius: 35px;
  }
  &__item {
    direction: ltr;
    background: $white;
    box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.1);
    border-radius: 35px;
    width: 98%;
    padding: 20px;
    height: 254px;
  }
  &__item-title {
    font-weight: 500;
    font-size: 25px;
    line-height: 135%;
    text-transform: uppercase;
    margin-bottom: 10px;
  }
  &__item-adress {
    margin-bottom: 30px;
    text-transform: uppercase;
    font-size: 18px;
  }
  &__item-box {
    display: flex;
    justify-content: space-between;
    align-items: start;
    max-height: 54px;
    margin-bottom: 24px;
  }
  &__item-work {
    margin-bottom: 24px;
    p {
      display: block;
      color: $blue;
    }
  }
  &__item-worktime {
    display: flex;
    gap: 30px;
    span {
      font-size: 15px;
      line-height: 140%;
      color: $border;
      display: block;
    }
  }
  &__item-phone {
  }
  &__item-btn {
    width: 100%;
    border: 1px solid $dark;
    border-radius: 35px;
    padding: 3px 0;
    text-align: center;
    transition: 0.3s ease;
    &:hover {
      color: $white;
      background-color: $dark;
    }
  }
  &__item-time {
  }
  &__cards {
    display: flex;
    gap: 18px;
    align-items: center;
    flex-wrap: wrap;
  }
  &__card {
    box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.1);
    border-radius: 35px;
    background-color: $white;
    max-width: 346px;
    width: 100%;
    height: 319px;
    padding: 25px;
  }
  &__card-title {
    font-weight: 500;
    font-size: 25px;
    line-height: 135%;
    text-transform: uppercase;
    margin-bottom: 10px;
  }
  &__card-adress {
    color: $border;
    margin-bottom: 10px;
  }
  &__card-number {
    color: $border;
  }
  &__card-work {
    margin-top: 36px;
    margin-bottom: 36px;
    color: $blue;
  }
  &__item-btn {
  }
  &__card-worktime {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    gap: 6px;
    span {
      font-size: 15px;
      line-height: 140%;
    }
  }
  &__card-time {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }
  &__card--soon {
    background: $light-grey;
    box-shadow: inset -1px 0px 4px rgba(0, 0, 0, 0.14),
      inset 5px 4px 6px rgba(0, 0, 0, 0.15);
    border-radius: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  &__card-soonimg {
    margin-bottom: 10px;
  }
  &__card-soontext {
    max-width: 137px;
    text-align: center;
  }
}

.offers {
  background-color: $blue;
  padding: 80px 0;
  overflow: hidden;
  margin-bottom: 150px;
  &__box {
    display: flex;
    justify-content: space-between;
    align-items: end;
    margin-bottom: 50px;
  }
  &__title {
    color: $white;
  }
  &__pagination {
    display: flex;
    gap: 50px;
  }
  &__pagination-box {
    background-color: $white;
    max-width: 150px;
    width: 100%;
    border-radius: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__pagination-text {
    max-width: 300px;
    width: 100%;
    color: $white;
  }
  &__pagination-prev {
    border-right: 1px solid $light-grey;
    padding-right: 25px;
    cursor: pointer;
    path {
      transition: 0.3s ease;
    }
    &:hover {
      path {
        stroke: $red;
      }
    }
  }
  &__pagination-next {
    padding-left: 25px;
    cursor: pointer;
    path {
      transition: 0.3s ease;
    }
    &:hover {
      path {
        stroke: $red;
      }
    }
  }
  &__inner {
  }
  &__slider {
    overflow: visible;
    position: relative;
  }
  &__items {
    display: flex;
    gap: 20px;
    padding-bottom: 30px;
  }
  &__item {
    padding: 10px;
    background-color: $white;
    border-radius: 30px;
    max-width: 440px;
    transition: 0.3s ease;
    &:hover {
      .offers__item-btn {
        color: $white;
        background-color: $dark;
      }
    }
  }
  &__item-img {
    margin-bottom: 10px;
    border-radius: 20px;
  }
  &__item-wrapper {
    padding: 0 10px;
  }
  &__item-tag {
    font-size: 12px;
    line-height: 135%;
    color: $border;
  }
  &__item-title {
    font-weight: 500;
    font-size: 24px;
    line-height: 135%;
    margin-bottom: 20px;
  }
  &__item-box {
    display: flex;
    justify-content: space-between;
    align-items: end;
    min-height: 53px;
  }
  &__item-price {
    font-size: 15px;
    line-height: 140%;
    span {
      color: $red;
      display: block;
      font-size: 19px;
      line-height: 140%;
    }
  }
  &__item-button {
    width: 100%;
    margin-left: auto;
    text-align: right;
  }
  &__item-btn {
    border: 1px solid $dark;
    border-radius: 35px;
    max-width: 125px;
    width: 100%;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    height: 22px;
    transition: 0.3s ease;
    &:hover {
      color: $white;
      background-color: $dark;
    }
  }
  &__item-info {
    font-weight: 400;
    font-size: 12px;
    line-height: 135%;
    color: $border;
    max-width: 147px;
    position: relative;
    &::before {
      content: "*";
      position: absolute;
      top: 0;
      left: -6px;
    }
  }
  .swiper-scrollbar {
    background-color: #dddddd;
    border-radius: 5px;
    height: 5px;
  }
  .swiper-scrollbar-drag {
    background-color: $white;
  }
  &__cards {
    margin-bottom: 70px;
  }
  &__card {
    display: flex;
    gap: 130px;
    align-items: center;
  }
  &__card-img {
  }
  &__card-wrapper {
  }
  &__card-title {
    font-weight: 500;
    font-size: 81px;
    line-height: 120%;
    color: $white;
    max-width: 719px;
    width: 100%;
    margin-bottom: 125px;
  }
  &__item-box {
  }
  &__card-btn {
    background-color: $white;
    color: $dark;
    max-width: 328px;
    width: 100%;
    &:hover {
      color: $white;
    }
  }
}

.compitences {
  margin-bottom: 150px;
  &__inner {
    display: flex;
    gap: 50px;
  }
  &__items {
    max-width: 768px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 18px;
  }
  &__item {
    box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
    background: $white;
    max-width: 375px;
    padding: 30px 15px 30px 10px;
  }
  &__item-box {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 30px;
  }
  &__item-img {
  }
  &__item-titlebox {
  }
  &__item-title {
    font-weight: 500;
    font-size: 24px;
    line-height: 135%;
    margin-bottom: 10px;
  }
  &__item-text {
    font-size: 15px;
    line-height: 140%;
    max-width: 235px;
  }
  &__item-btn {
    width: 100%;
  }
  &__wrapper {
  }
  &__title {
    margin-bottom: 50px;
  }
  &__text {
    font-size: 42px;
    line-height: 110%;
    max-width: 620px;
  }
}

.want--withbg {
  .want__inner {
    min-height: 850px;
    display: block;
    padding: 80px 80px 60px;
  }
}
.want {
  margin-bottom: 150px;
  &__inner {
    display: flex;
    justify-content: space-between;
  }
  &__wrapper {
  }
  &__title {
    max-width: 468px;
    margin-bottom: 40px;
    span {
      color: $red;
    }
  }
  &__text {
    font-size: 15px;
    line-height: 140%;
    max-width: 412px;
  }
  &__items {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 870px;
    gap: 50px 120px;
  }
  &__item {
    max-width: 350px;
    width: 100%;
  }
  &__item-img {
    margin-bottom: 10px;
  }
  &__item-title {
    font-weight: 600;
    font-size: 25px;
    line-height: 115%;
    margin-bottom: 12px;
  }
  &__item-text {
  }
  &__cards {
    display: flex;
    align-items: center;
    gap: 18px;
    margin-top: 230px;
  }
  &__card {
    background: rgba(255, 255, 255, 0.85);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7px);
    border-radius: 35px;
    max-width: 468px;
    height: 204px;
    padding: 50px 50px 50px 30px;
    display: flex;
    gap: 28px;
    align-items: center;
  }
  &__card-box {
  }
  &__card-text {
    font-weight: 400;
    font-size: 15px;
    line-height: 140%;
  }
}

.experience {
  margin-bottom: 150px;
  &__inner {
    min-height: 558px;
    position: relative;
  }
  &__text {
    padding-top: 170px;
    max-width: 791px;
    font-weight: 500;
    font-size: 81px;
    line-height: 100%;
    position: relative;
    &:after {
      content: "25";
      position: absolute;
      top: -15px;
      right: -285px;
      font-weight: 900;
      font-size: 400px;
      line-height: 100%;
    }
    span {
      color: $red;
    }
  }
  &__star {
    position: absolute;
  }
  &__star--1 {
    top: 160px;
    right: 275px;
  }
  &__star--2 {
    bottom: 110px;
    right: 100px;
  }
  &__star--3 {
    bottom: 44px;
    right: 430px;
  }
}

.visit {
  margin-bottom: 150px;
  &__inner {
    min-height: 637px;
    padding: 70px 30px;
  }
  &__title {
    max-width: 504px;
    margin-bottom: 50px;
  }
  &__box {
    margin-bottom: 40px;
    max-width: 468px;
  }
  &__text {
    margin-bottom: 30px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  &__buttons {
    max-width: 468px;
    display: flex;
    gap: 10px;
  }
  &__btn {
    padding: 22px 0;
    width: 100%;
    text-align: center;
    border: 1px solid $dark;
    background: $dark;
    border-radius: 35px;
    color: $white;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    transition: 0.3s ease;
    &:hover {
      background-color: $superLightGrey;
      color: $dark;
      border-color: $superLightGrey;
    }
  }
  &__btn-another {
    border: 1px solid $white;
    background: transparent;
    &:hover {
      border-color: $red;
      background: transparent;
      color: $red;
    }
  }
}

.tests {
  margin-bottom: 150px;
  &__inner {
    position: relative;
    min-height: 558px;
  }
  &__title {
    max-width: 527px;
  }
  &__decor {
    position: absolute;
  }
  &__decor--1 {
    bottom: 129px;
    left: 262px;
  }
  &__decor--2 {
    bottom: 118px;
    right: 314px;
  }
  &__decor--3 {
    bottom: 1px;
    right: 200px;
  }
  &__decor--4 {
    top: 0px;
    left: 520px;
  }
  &__item {
    position: absolute;
    bottom: 50px;
    right: 0;
    max-width: 1000px;
    width: 100%;
    background: rgba($white, 0.3);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7px);
    border-radius: 35px;
    padding: 26px 132px 40px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__text {
    max-width: 466px;
  }
  &__button {
    max-width: 233px;
    width: 100%;
    text-align: center;
    height: 60px;
  }
}

.reviews {
  margin-bottom: 150px;
  &__inner {
    display: flex;
    justify-content: space-between;
    overflow: hidden;
  }
  &__wrapper {
  }
  &__title {
    margin-bottom: 40px;
    position: relative;
    max-width: 468px;
    width: 100%;
    span {
      color: $red;
    }
    &::after {
      content: "";
      position: absolute;
      background-image: url(../images/slides/quotes.svg);
      width: 201px;
      height: 163px;
      right: -220px;
      top: 0;
      z-index: -1;
    }
  }
  &__text {
  }
  &__slider {
    overflow: hidden;
    position: relative;
  }
  &__slider-items {
    max-width: 710px;
    width: 100%;
  }
  &__slider-item {
    height: 295px;
    padding-top: 25px;
    border-top: 1px solid $border;
    border-bottom: 1px solid $border;
  }
  &__slider-text {
    margin-bottom: 10px;
    font-size: 15px;
    line-height: 140%;
    min-height: 189px;
  }
  &__slider-wrapper {
    display: flex;
    justify-content: space-between;
  }
  &__slider-box {
    max-width: 228px;
  }
  &__slider-author {
    font-weight: 500;
    font-size: 25px;
    line-height: 115%;
    margin-bottom: 5px;
  }
  &__slider-info {
    font-weight: 500;
    font-size: 15px;
    line-height: 100%;
    color: $border;
  }
  &__slider-controls {
    display: flex;
    position: absolute;
    bottom: 10px;
    left: 0;
    z-index: 1;
    background-color: $white;
    gap: 30px;
    align-items: center;
  }
  &__slider-pagination {
    display: flex;
    align-items: center;
    gap: 5px;
    .swiper-pagination-current {
      color: $red;
      font-weight: 900;
      font-size: 81px;
      line-height: 120%;
    }
  }
  &__slider-buttons {
    display: flex;
    gap: 10px;
    cursor: pointer;
  }
  &__slider-prev,
  &__slider-next {
    padding: 0;
    img {
      max-width: none;
    }
  }
}

.brands {
  overflow: hidden;
  margin-bottom: 100px;
  position: relative;
  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 105px;
    overflow: hidden;
  }
  &__title {
    max-width: 720px;
  }
  &__box {
    max-width: 460px;
  }
  &__text {
    margin-bottom: 20px;
  }
  &__link {
    padding: 5px 30px;
  }
  &__inner {
    overflow: hidden;
  }
  &__items {
    position: absolute;
    bottom: 0;
    overflow: hidden;
    left: 0px;
    display: flex;
    gap: 50px;
    align-items: center;
    overflow: hidden;
    animation: 20s linear infinite;
    animation-name: running;
  }
  &__item {
    cursor: pointer;
  }
  &__item-img {
    max-width: none;
  }
}
@keyframes running {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-3000px);
  }
}

.breadcrumbs {
  &__list {
    margin: 45px 0 50px;
    display: flex;
    gap: 5px;
    align-items: center;
    color: $border;
  }
  &__item {
    font-size: 15px;
    line-height: 140%;
  }
  &__item-current {
    color: $dark;
  }
}

.care {
  margin-bottom: 150px;
  &__inner {
    text-align: center;
  }
  &__suptitle {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-size: 25px;
    line-height: 135%;
    gap: 15px;
    margin-bottom: 20px;
    img {
      width: 25px;
      height: 25px;
    }
  }
  &__title {
    max-width: 1090px;
    font-weight: 700;
    font-size: 81px;
    line-height: 110%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 40px;
  }
  &__title-img {
    display: inline-block;
    max-width: none;
    padding: 0 20px;
    &:last-child {
      padding: 0;
    }
  }
  &__box {
    max-width: 560px;
    margin: 0 auto;
    width: 100%;
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
  }
  &__btn {
    max-width: 270px;
    width: 100%;
    height: 50px;
    padding: 17px 0;
    margin-bottom: 100px;
  }
}

.services {
  margin-bottom: 150px;
  &__box {
    display: flex;
    justify-content: space-between;
  }
  &__title {
    color: $red;
  }
  &__textbox {
    max-width: 510px;
    margin-bottom: 50px;
  }
  &__subtitle {
    font-weight: 500;
    font-size: 25px;
    line-height: 135%;
    margin-bottom: 20px;
  }
  &__text {
    font-size: 15px;
    line-height: 140%;
  }
  &__inner {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 18px;
    margin-bottom: 80px;
  }
  &__item {
    max-width: 346px;
    width: 100%;
    height: 200px;
    box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.1);
    border-radius: 35px;
    background-color: $white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
  }

  &__item-img {
  }
  &__item-title {
    font-weight: 500;
    font-size: 25px;
    line-height: 135%;
    margin-top: 12px;
  }
  &__item--healthcare {
    max-width: 710px;
    // height: 616px;
    // grid-area: health;

    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
  }
  &__item--xray {
    height: 636px;
    max-width: 712px;
    // width: 100%;
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 6;
  }
  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__info {
    max-width: 712px;
    font-weight: 500;
    font-size: 25px;
    line-height: 135%;
  }
  &__button {
    width: 100%;
    max-width: 480px;
  }
  &__btn {
    width: 100%;
  }
  &__subtitle--cards {
    max-width: 300px;
  }
  &__cards {
    display: flex;
    gap: 18px;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 100px;
  }
  &__card {
    max-width: 465px;
    width: 100%;
    height: 253px;
    background: $white;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 35px;
    position: relative;
    padding: 25px 40px;
  }
  &__card-text {
    font-weight: 500;
    font-size: 25px;
    line-height: 135%;
    max-width: 279px;
  }
  &__card-img {
    position: absolute;
    right: 0;
    bottom: 0;
  }
  &__drug {
    display: flex;
    align-items: center;
    gap: 50px;
    background: $white;
    box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
    padding: 10px;
  }
  &__drug-img {
  }
  &__drug-box {
  }
  &__drug-title {
    font-weight: 600;
    font-size: 40px;
    line-height: 110%;
    color: $red;
    margin-bottom: 12px;
  }
  &__drug-text {
    font-weight: 500;
    font-size: 25px;
    line-height: 135%;
    max-width: 560px;
  }
}

.insurance {
  margin-bottom: 150px;
  &__titlebox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 70px;
  }
  &__title {
  }
  &__text {
    font-weight: 500;
    font-size: 25px;
    line-height: 135%;
    max-width: 400px;
  }
  &__inner {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 47px;
    margin-bottom: 75px;
  }
  &__list {
  }
  &__list-item {
    text-transform: uppercase;
    border-bottom: 1px solid $border;
  }
  &__list-link {
    padding: 20px 0;
  }
  &__link {
    font-size: 42px;
    line-height: 110%;
    color: $red;
    margin-top: 100px;
    text-align: center;
  }

  &__box {
    background: $white;
    box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.1);
    border-radius: 35px;
    padding: 64px 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 128px;
    margin-bottom: 120px;
  }
  &__box-img {
  }
  &__box-text {
    max-width: 1006px;
    font-weight: 400;
    font-size: 42px;
    line-height: 110%;
    span {
      color: $red;
    }
  }

  &__price {
    text-align: center;
  }
  &__price-text {
    color: $red;
    font-weight: 900;
    font-size: 300px;
    line-height: 100%;
    margin-bottom: 30px;
    span {
      display: block;
      text-align: right;
      font-size: 120px;
      line-height: 100%;
      color: $border;
      margin-right: 300px;
    }
  }
  &__price-info {
    max-width: 424px;
    margin-left: auto;
    margin-right: 200px;
    span {
      color: $red;
    }
  }
  &__item {
    box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.1);
    border-radius: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 42px 72px 46px 43px;
    margin-top: 50px;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      right: 24px;
      top: 15px;
      z-index: -1;
      background: url(../images/icon/quesion.svg) no-repeat;
      object-fit: cover;
      height: 185px;
      width: 128px;
    }
  }
  &__item-text {
    max-width: 305px;
    span {
      color: $red;
    }
  }
}

.faq {
  margin-bottom: 150px;
  &__inner {
    display: flex;
    justify-content: space-between;
  }
  &__title {
    position: relative;
    &::after {
      content: "";
      position: absolute;
      background: url(../images/icon/quesion.svg) no-repeat;
      background-size: cover;
      width: 450px;
      height: 650px;
      right: -300px;
      top: 0;
      z-index: -1;
    }
  }
}

.accordion {
  width: 100%;
  max-width: 970px;
  &__item {
    background-color: $background;
    // margin-bottom: 20px;
    border-bottom: 1px solid $dark;
    // &:nth-child(even) {
    //   border-bottom: none;
    // }
    &:first-child {
      border-top: 1px solid $dark;
    }
  }
  &__item-title {
    padding: 35px 25px;
    min-height: 3.5rem;
    font-weight: 500;
    font-size: 25px;
    line-height: 135%;
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
    &::after {
      content: "";
      position: absolute;
      background: linear-gradient(#000 0 0), linear-gradient(#000 0 0);
      background-position: center;
      background-size: 51% 3px, 3px 51%;
      background-repeat: no-repeat;
      height: 4px;
      width: 50px;
      height: 50px;
      border-radius: 2px;
      right: 23px;
    }
    &.active::after {
      content: "";
      position: absolute;
      background: $dark;
      width: 27px;
      height: 3px;
      border-radius: 2px;
      right: 35px;
    }
  }
  &__item-body {
    max-height: 0;
    overflow: hidden;
    transition: 0.3s ease;
  }
  &__item-content {
    max-width: 826px;
    padding: 15px 30px 30px;
    // border-top: 1px solid;
    // border-image: linear-gradient(to right, transparent, #34495e, transparent) 1;
  }
}

.contact {
  margin-bottom: 150px;
  &__titlebox {
    display: flex;
    justify-content: space-between;
  }
  &__title {
    max-width: 752px;
  }
  &__box {
    max-width: 505px;
    margin-bottom: 50px;
  }
  &__text {
    margin-bottom: 22px;
    span {
      color: $red;
    }
  }
  &__number {
    font-size: 42px;
    line-height: 110%;
    display: flex;
    align-items: center;
    gap: 8px;
    img {
      height: 48px;
      width: 48px;
      object-fit: cover;
    }
  }
  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  &__form-box {
    display: flex;
    width: 100%;
    gap: 20px;
  }
  &__form-input,
  &__form-area {
    width: 100%;
    border: 1px solid $border;
    border-radius: 35px;
    padding: 17px 40px 14px;
    &::placeholder {
      font-family: "Inter", sans-serif;
      font-weight: 500;
      font-size: 25px;
      line-height: 140%;
      color: $dark;
    }
  }
  &__form-area {
    min-height: 270px;
    resize: none;
    width: 100%;
  }
  &__form-btn {
    width: 100%;
  }
  &__image {
    margin-bottom: 80px;
  }
  &__img {
  }
}

.health {
  margin-bottom: 150px;
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: 60px;
    margin-bottom: 65px;
  }
  &__titlebox {
  }
  &__suptitle {
    display: flex;
    align-items: center;
    gap: 15px;
    font-weight: 500;
    font-size: 25px;
    line-height: 135%;
  }
  &__title {
    max-width: 950px;
    font-weight: 700;
    font-size: 78px;
    line-height: 110%;
  }
  &__box {
    max-width: 470px;
  }
  &__text {
    font-weight: 500;
    font-size: 25px;
    line-height: 135%;
    margin-bottom: 20px;
  }
  &__btn {
    width: 100%;
    text-align: center;
  }
  &__image {
    text-align: center;
  }
  &__image-img {
    margin: 0 auto;
    text-align: center;
  }
}

.video {
  margin-bottom: 150px;
  &__inner {
    display: flex;
    justify-content: space-between;
  }
  &__box {
    max-width: 690px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  &__titlebox {
  }
  &__title {
    margin-bottom: 50px;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      right: 0;
      top: 0;
      width: 205px;
      height: 186px;
      background-image: url(../images/icon/decor-arrow.svg);
      &:last-child {
        display: none;
      }
    }
  }
  &__title--second::after {
    display: none;
  }
  &__time {
    display: flex;
    align-items: center;
    gap: 8px;
  }
  &__time-img {
  }
  &__text {
    max-width: 475px;
  }
  &__item {
    max-width: 712px;
    height: 397px;
  }
  &__item-iframe {
    filter: drop-shadow(2px 2px 7px rgba(0, 0, 0, 0.1));
    border-radius: 35px;
    width: 712px;
    height: 397px;
  }
  &__wrapper {
    // display: flex;
  }
}
.video--about {
  .video__inner {
    display: block;
  }
  .video__titlebox {
    display: flex;
    justify-content: space-between;
  }
  .video__title {
    max-width: 700px;
    span {
      color: $red;
    }
  }
  .video__wrapper {
    display: flex;
    align-items: flex-start;
    gap: 22px;
  }
  .video__item {
    max-width: 468px;
    height: 260px;
  }
  .video__item-iframe {
    width: 468px;
    height: 260px;
  }
}

.partners {
  margin-bottom: 150px;
  &__titlebox {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
  }
  &__title {
    color: $red;
  }
  &__text {
    font-weight: 500;
    font-size: 25px;
    line-height: 135%;
  }
  &__items {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
  &__item {
    max-width: 349px;
    width: 100%;
    height: 195px;
    // border-right: 1px solid $border;
    // border-bottom: 1px solid $border;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      top: 20px;
      right: 0;
      height: 150px;
      width: 1px;
      background-color: $border;
    }
    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      right: 20px;
      width: 309px;
      height: 1px;
      background-color: $border;
    }
  }
  &__item-wrapper {
  }
  &__item-img {
  }
}

.talk {
  margin-bottom: 150px;
  background-color: $blue;
  min-height: 480px;
  border-radius: 35px;
  &__inner {
    color: $white;
    padding: 80px 30px;
    font-weight: 500;
    font-size: 25px;
    line-height: 135%;
  }
  &__wrapper {
    display: flex;
    justify-content: space-between;
    gap: 120px;
  }
  &__box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  &__question {
  }
  &__number {
    font-weight: 500;
    font-size: 81px;
    line-height: 120%;
  }
  &__titlebox {
    max-width: 675px;
  }
  &__title {
    font-weight: 500;
    font-size: 81px;
    line-height: 120%;
    margin-bottom: 20px;
  }
  &__text {
  }
  &__mail {
    font-weight: 500;
    font-size: 81px;
    line-height: 120%;
  }
}

.about {
  margin-bottom: 150px;
  min-height: 492px;
  &__inner {
    display: flex;
    gap: 300px;
  }
  &__box {
    max-width: 700px;
  }
  &__title {
    font-weight: 700;
    font-size: 81px;
    line-height: 110%;
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    gap: 20px;
  }
  &__subtitle {
    font-weight: 400;
    font-size: 42px;
    line-height: 110%;
    margin-bottom: 30px;
    span {
      color: $red;
    }
  }
  &__text {
    max-width: 528px;
  }
  &__card {
    text-align: center;
  }
  &__card-img {
    margin-bottom: 20px;
  }
  &__card-title {
    font-size: 42px;
    line-height: 110%;
    margin-bottom: 10px;
  }
  &__card-info {
  }
}

@import "media";
